/* Style général du tableau */
table {
    width: 100%; /* Prend toute la largeur de la page */
    border-collapse: collapse; /* Fusionne les bordures */
    border-radius: 8px; /* Arrondit les coins du tableau */
    overflow: hidden; /* Assure que les coins arrondis sont appliqués correctement */
}


/* Style des cellules du tableau */
th, td {
    text-align: center; /* Centre le texte */
    padding: 8px; /* Ajoute un peu d'espace autour du texte */
}

td {
    border: 1px solid #000; /* Bordures noires */
}

/* Couleur de fond pour les lignes */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris pour les lignes paires */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Blanc pour les lignes impaires */
}

/* Style pour les en-têtes */
th {
    background-color: rgb(255, 86, 96); /* Couleur de fond des en-têtes */
    color: white; /* Couleur du texte des en-têtes */
}

/* Effet de survol pour les lignes, en excluant la première ligne */
tr:hover {
    background-color: #d9d9d9; /* Gris clair au survol */
}

.table-title {
    padding-left: 10px; /* Ajoute de l'espace autour du texte */
    margin-bottom: 0px; /* Espace entre le titre et le tableau */
}

a {
    text-decoration: none;
    color: inherit; /* Conserve la couleur du texte de la cellule */
    display: block;
}

.titre {
    display: flex;
    justify-content: space-between;
}

.padd {
    padding: 10px;
}

